@import url(http://fonts.googleapis.com/css?family=Raleway:100,200,400,300,700);

$phone-size: 480px;
$tablet-size: 768px;
$desktop-size: 992px;
$wide-size: 1200px;

body {
	font-family: 'Raleway','Helvetica','Arial', sans-serif;
}

/* Main Content Padding */
.site-home {
	padding-top: 40px;
	padding-bottom: 50px;
}
.site-main {
	padding-top: 160px;
	padding-bottom: 50px;
}

/* Collapse Condition */
@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

/* Social Navbar  */
.navbar-default {
	background-color: #ffffff;
	border-color: #ffffff;

	.navbar-toggle, .navbar-toggle:hover, .navbar-toggle:focus {
	  border-color: #f52f46;
	  background-color: #f52f46;
	}
	.navbar-collapse,  .navbar-form {
	  border: 0px;
	}
	.navbar-toggle .icon-bar {
	  background-color: #fff;
	}
	.social-icon {
		padding-top: 10px;
		float: right;
	}
}

/* Submenu Styling */
#submenu {
    margin-bottom:20px;
    margin-top: 50px;
    background-color: #f9cac7;
    border: 0px;

	@media screen and (max-width: $phone-size) {
		height: 40px;
	}
	@media screen and (min-width: $tablet-size) {
		height: 48px;
	}
	@media screen and (min-width: $desktop-size) {
		height: 78px;
	}

	.image-brand {
		@media screen and (max-width: $phone-size) {
			margin-top: -55px;
			height: 100px;
		}
		@media screen and (min-width: $phone-size) {
			margin-top: -55px;
			height: 100px;
		}
		@media screen and (min-width: $tablet-size) {
			margin-top: -28px;
			height: 80px;
		}
		@media screen and (min-width: $desktop-size) {
			margin-top:-45px;
			height: 160px;
		}
    }

    .navbar-nav {
    	@media screen and (max-width: $phone-size) {
			background-color: #F79A94;
			/* background-color: #F9CAC7; */
			padding-top: 12px;
    		padding-bottom: 12px;
    		margin-top: 0px;
    		margin-bottom: 0px;
		}
    	@media screen and (min-width: $phone-size) {
			background-color: #F79A94;
			/* background-color: #F9CAC7; */
			padding-top: 12px;
    		padding-bottom: 12px;
    		margin-top: 0px;
    		margin-bottom: 0px;
		}
		@media screen and (min-width: $tablet-size) {
			background-color: #F79A94;
			/* background-color: #F9CAC7; */
			padding-top: 12px;
    		padding-bottom: 12px;
    		margin-top: 0px;
    		margin-bottom: 0px;
		}
		@media screen and (min-width: $wide-size) {
			background-color: #F9CAC7;
	    	padding-top: 12px;
	    	padding-bottom: 12px;
		}
    }
	.site-menu {
		a {
	    	font-size: 11pt;
	    	text-transform: uppercase;
	    	color: #67000c;
	    	padding-left: 30px;
	    	padding-right: 30px;
	    }
	    a:hover {
	    	background-color: #f52f46;
	    	color: #fff;
	    }
	}
}

/* Carousel */
#carousel-top {
  	@media screen and (max-width: $phone-size) {
		margin-top: 100px;
	}
	@media screen and (min-width: $phone-size) {
		margin-top: 100px;
	}
	@media screen and (min-width: $tablet-size) {
		margin-top:100px;
	}
	@media screen and (min-width: $desktop-size) {
		margin-top:125px;
	}
	img {
		width: 100%
	}
}

#carousel-widget {
	img {
		width: 100%
	}
}

/* Heading */
h1.beauty-heading {
	font-size: 48px;
	font-weight: 200;
	text-align: center;
	color: #f52f46;

	&:before {
		background-image: url('../img/h1-before.png');
		background-repeat: no-repeat;
		padding-right: 40px;
		padding-left: 40px;
		padding-top: 0;
		padding-bottom:0 px;
		content: "";
	}
	&:after {
		background-image: url('../img/h1-after.png');
		background-repeat: no-repeat;
		margin-left: 10px;
		padding-right: 40px;
		padding-left: 40px;
		padding-top: 0;
		padding-bottom:0 px;
		content: "";
	}

	@media screen and (max-width: $phone-size) {
		font-size: 38px;
	}
}

h2.beauty-heading {
	font-weight: 200;
	font-size: 25px;
	color: #F52F46;
	margin-left: 50px;
	margin-bottom: 10px;
	line-height: 20px;

	&:before {
		background-image: url("../img/h2-before.png");
		background-repeat: no-repeat;
		position: absolute;
		left: 15px;
		content: "";
		width: 41px;
		height: 41px;
	}
}

.beauty-well {
	border-radius: 0px;
	background-color: #fbe4e3;
	border: 0px;
	text-align: center;

	h3.beauty-heading {
		font-weight: 200;
		font-size: 22px;
		text-align: center;
		color: #f52f46;
		margin-top: 0px;
		padding-bottom: 10px;
		border-bottom: 1px solid;
		border-color: #aa0518;
	}
}

/* Blockquote */
blockquote {
	text-align:center;
	border: 0;
	font-weight: 200;

	&:before {
		background-image: url('../img/quote.png');
		background-repeat: no-repeat;
		padding-left: 40px;
		padding-top: 0;
		padding-bottom:0 px;
		content: "";
	}
	&:after {
		background-image: url('../img/quote.png');
		background-repeat: no-repeat;
		padding-left: 40px;
		padding-top: 0;
		padding-bottom:0 px;
		content: "";
	}
}

p.quote {
	font-weight: 200;
	text-align: center;
}

.row {
	.thumbnail {
		border:0;
	    box-shadow:0;
	    border-radius:0;
	    margin-bottom: 0px;
	}
	.gallery {
		.col-lg-4, .col-md-4 {
			padding: 0;
			padding-bottom: 0px;
		}
	}
}

/* Side Nav */

ul.beauty-sidenav {
	list-style-type: none;
	padding-left: 50px;
	li {
		border-bottom: 1px solid #f9cac7;
		padding-top: 10px;
		padding-bottom: 10px;
		font-weight: 400;
		font-size: 15px;
		a {
			color: #333;
		}

		a.highlight {
			color: #f52f46;
			font-weight: 400;
		}
	}
}

/* Footer */
.full {
    width: 100%;
}
.gap {
	height: 30px;
	width: 100%;
	clear: both;
	display: block;
}
.footer {
	background: #f52f46;
	height: auto;
	padding-bottom: 30px;
	position: relative;
	width: 100%;

	p {
		margin: 0;
		color: #fff;
		font-weight: 200;
		padding: 20px 0 10px;
		font-size: 13px;
	}

	img {
		max-width: 100%;
	}

	h3.beauty-heading {
		font-weight: 100;
		font-size: 25px;
		color: #fff;
		margin-left: 35px;
		margin-top: 30px;
		margin-bottom: 10px;

		&:before {
			background-image: url('../img/h2-before-footer.png');
			background-repeat: no-repeat;
			padding: 30px;
			position:absolute;
			left: 15px;
			top: 25px;
			content: "";
		}
	}
	ul {
		font-size: 13px;
		font-weight: 200;
		list-style-type: bullet;
		margin-left: 0;
		padding-left: 20px;
		margin-top: 15px;
		color: #fff;
		li {
			a {
				padding: 0 0 5px 0;
				display: block;
			}
		}
	}
	a {
		color: #fff;
	}
}
.supportLi h4 {
	font-size: 20px;
	font-weight: lighter;
	line-height: normal;
	margin-bottom: 0 !important;
	padding-bottom: 0;
}
.newsletter-box {
	overflow: hidden;
	input {
		background: #fa97a3;
		color: #000;
		border: 0;
		display: inline-block;
		float: left;
		height: 40px;
		clear: both;
		width: 100%;
		text-align:left;
		padding-left: 20px;
	}
	input::-webkit-input-placeholder {
		color: #000;
	}
	input::-moz-placeholder {
		color: #000;
	}
	input:-moz-placeholder {
		/* Older versions of Firefox */
		color: #000;
	}
	input:-ms-input-placeholder {
		color: #000;
	}
	.btn {
		border: 1px solid #fff;
		background-color: #f52f46;
		border-radius: 0;
		height: 40px;
		padding: 5;
		margin-top: 5px;
		width: 100%;
		color: fff;
		text-transform: uppercase;
	}
}
.footer-bottom {
	background: #aa0518;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #fff;

	p.pull-left {
		padding-top: 6px;
	}
	p.pull-right {
		padding-top: 6px;
	}
}
